@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: auto;
}

body {
  font-family: 'Roboto', sans-serif;
}

button {
  @apply bg-gray-300  
}

button.primary {

  @apply bg-primary text-2xl p-2 w-full text-white rounded-2xl
}
textarea {
  height: 240px;
}